<section data-bs-version="5.1" class="article8 cid-u8FvvZodhX" id="about-us-8-u8FvvZodhX">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="card col-md-12 col-lg-10">
          <div class="card-wrapper">
            <div class="image-wrapper d-flex justify-content-center mb-4">
              <img src="https://r.mobirisesite.com/372852/assets/images/g3ac7c7b82f82d3bb7c94dbab1d99-h_lvwi7uq9.jpg" alt="Mobirise Website Builder">
            </div>
            <div class="card-content-text">
              <h3 class="card-title mbr-fonts-style mbr-white mt-3 mb-4 display-2">
              <strong>Who We Are</strong>
              </h3>
              <div class="row card-box align-left">
                <div class="item features-without-image col-12">
                  <div class="item-wrapper">
                    <p class="mbr-text mbr-fonts-style display-7">Welcome to <strong>Roof Medics!</strong> The Guardians of Your Garrison, Ensuring Every <em>Shingle</em> Thing is Perfect! With over 5 years of experience in Monte Vista, Alamosa, South Fork, Colorado, we are your go-to experts for all things roofing.</p>
                  </div>
                </div>
                <div class="item features-without-image col-12">
                  <div class="item-wrapper">
                    <p class="mbr-text mbr-fonts-style display-7">At Roof Medics, we don't just fix roofs; we heal homes. Our mission is to secure your comfort from above, providing top cover and total care for your shelter.</p>
                  </div>
                </div>
                <div class="item features-without-image col-12">
                  <div class="item-wrapper">
                    <p class="mbr-text mbr-fonts-style display-7">Trust Roof Medics to ensure every shingle thing is perfect. We are the peak protection partners you can rely on to safeguard your garrison with precision and care.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  