<section data-bs-version="5.1" class="news08 cid-u8FvvZppGI" id="blog-2-u8FvvZppGI">
    <div class="container-fluid">
      <div class="row justify-content-center mb-5">
        <div class="col-12 content-head">
          <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
              <strong>Latest Roofing News</strong>
            </h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="item features-image col-12 col-md-6 col-lg-3 active">
          <div class="item-wrapper">
            <div class="item-img mb-3">
              <img src="https://r.mobirisesite.com/372852/assets/images/photo-1643509207456-1f904e060143.jpeg" alt="Mobirise Website Builder" title="">
            </div>
            <div class="item-content align-left">
              <h5 class="item-title mbr-fonts-style mt-0 mb-3 display-7">Maintenance</h5>
              <h6 class="item-subtitle mbr-fonts-style mb-3 display-5">
                <strong>Roof Maintenance Tips</strong>
              </h6>
              <div class="mbr-section-btn item-footer">
                <a href="" class="btn item-btn btn-primary display-7">Read</a>
              </div>
            </div>
          </div>
        </div>
        <div class="item features-image col-12 col-md-6 col-lg-3">
          <div class="item-wrapper">
            <div class="item-img mb-3">
              <img src="https://r.mobirisesite.com/372852/assets/images/photo-1635359800970-90b35af94a4a.jpeg" alt="Mobirise Website Builder">
            </div>
            <div class="item-content align-left">
              <h5 class="item-title mbr-fonts-style mb-3 mt-0 display-7">Repairs</h5>
              <h6 class="item-subtitle mbr-fonts-style mb-3 display-5">
                <strong>Emergency Roof Repairs</strong>
              </h6>
              <div class="mbr-section-btn item-footer">
                <a href="" class="btn item-btn btn-primary display-7">Read</a>
              </div>
            </div>
          </div>
        </div>
        <div class="item features-image col-12 col-md-6 col-lg-3">
          <div class="item-wrapper">
            <div class="item-img mb-3">
              <img src="https://r.mobirisesite.com/372852/assets/images/photo-1587052694737-a972e4186288.jpeg" alt="Mobirise Website Builder">
            </div>
            <div class="item-content align-left">
              <h5 class="item-title mbr-fonts-style mb-3 mt-0 display-7">Installation</h5>
              <h6 class="item-subtitle mbr-fonts-style mt-0 mb-3 display-5">
                <strong>New Roof Installation Guide</strong>
              </h6>
              <div class="mbr-section-btn item-footer">
                <a href="" class="btn item-btn btn-primary display-7">Read</a>
              </div>
            </div>
          </div>
        </div>
        <div class="item features-image col-12 col-md-6 col-lg-3">
          <div class="item-wrapper">
            <div class="item-img mb-3">
              <img src="https://r.mobirisesite.com/372852/assets/images/photo-1504149730145-54e4ebcaf03e.jpeg" alt="Mobirise Website Builder">
            </div>
            <div class="item-content align-left">
              <h5 class="item-title mbr-fonts-style mb-3 mt-0 display-7">Design</h5>
              <h6 class="item-subtitle mbr-fonts-style mt-0 mb-3 display-5">
                <strong>Trendy Roof Designs</strong>
              </h6>
              <div class="mbr-section-btn item-footer">
                <a href="" class="btn item-btn btn-primary display-7">Read</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  