<section data-bs-version="5.1" class="people03 cid-u8FvvZrg8k" id="team-1-u8FvvZrg8k">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 content-head">
          <div class="mbr-section-head mb-5">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
              <strong>Meet Us</strong>
            </h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-center mt-4 display-7">Meet the key players on our small yet very effective team here at Roof Medics.</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="item features-image col-12 col-md-6 col-lg-3">
          <div class="item-wrapper">
            <div class="item-img mb-3">
              <img src="https://r.mobirisesite.com/372852/assets/images/photo-1591084728795-1149f32d9866.jpeg" alt="Mobirise Website Builder" title="">
            </div>
            <div class="item-content align-left">
              <h5 class="item-title mbr-fonts-style display-5"><strong>Art</strong></h5>
              <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Owner</h6>
            </div>
          </div>
        </div>
        <div class="item features-image col-12 col-md-6 col-lg-3">
          <div class="item-wrapper">
            <div class="item-img mb-3">
              <img src="https://r.mobirisesite.com/372852/assets/images/photo-1677520338280-664ae23816eb.jpeg" alt="Mobirise Website Builder" title="">
            </div>
            <div class="item-content align-left">
              <h5 class="item-title mbr-fonts-style display-5"><strong>Erica</strong></h5>
              <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Sales &amp; Customer Service</h6>
            </div>
          </div>
        </div>
        <div class="item features-image col-12 col-md-6 col-lg-3">
          <div class="item-wrapper">
            <div class="item-img mb-3">
              <img src="https://r.mobirisesite.com/372852/assets/images/photo-1621624666561-84d010700-h_lvwihy7i.jpg" alt="Mobirise Website Builder" title="">
            </div>
            <div class="item-content align-left">
              <h5 class="item-title mbr-fonts-style display-5"><strong>Brodi</strong></h5>
              <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Marketing &amp; Technology</h6>
            </div>
          </div>
        </div>
        <div class="item features-image col-12 col-md-6 col-lg-3">
          <div class="item-wrapper">
            <div class="item-img mb-3">
              <img src="https://r.mobirisesite.com/372852/assets/images/gf6fbd0af516719184a40138794fb-h_lvwifbpp.jpg" alt="Mobirise Website Builder" title="" data-slide-to="3" data-bs-slide-to="3">
            </div>
            <div class="item-content align-left">
              <h5 class="item-title mbr-fonts-style display-5"><strong>Rob</strong></h5>
              <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Foreman &amp; Roofing Specialist</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  