<section data-bs-version="5.1" class="form07 cid-u8FvvZz9hK" id="form07-u8FvvZz9hK">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8 content-head">
          <div class="mbr-section-head mb-5">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Contact Us</strong></h4>
          </div>
          <form action="https://formoid.net/api/p/1q9h109v0" method="POST" class="mbr-form form-with-styler mx-auto">
            <div class="row">
              <div class="col-md-6 col-lg-4 form-group" data-for="name">
                <input type="text" name="name" placeholder="Name" data-form-field="name" class="form-control" id="name-form07-u8FvvZz9hK">
              </div>
              <div class="col-md-6 col-lg-4 form-group" data-for="email">
                <input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control" id="email-form07-u8FvvZz9hK">
              </div>
              <div class="col-md-6 col-lg-4 form-group" data-for="phone">
                <input type="tel" name="phone" placeholder="Phone" data-form-field="phone" class="form-control" id="phone-form07-u8FvvZz9hK">
              </div>
              <div class="col-12 form-group" data-for="message">
                <textarea name="message" placeholder="Message" data-form-field="message" class="form-control" id="message-form07-u8FvvZz9hK"></textarea>
              </div>
              <div class="col-12 mbr-section-btn align-center">
                <button type="submit" class="btn btn-primary display-7">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  