<section data-bs-version="5.1" class="features38 cid-u8FvvZrNBx" id="features-66-u8FvvZrNBx">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg">
          <div class="text-wrapper align-left">
            <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
              <strong>Peak Protection Partners</strong>
            </h1>
            <p class="mbr-text align-left mbr-fonts-style mb-4 display-7">Experience top-notch roofing services with Roof Medics, your ultimate peak protection partners. We ensure your shelter is shielded and your home is healed!</p>
            <div class="mbr-section-btn align-left mt-3">
              <a class="btn btn-primary display-7" href="https://mobiri.se">Get Peak Protection</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6 image-wrapper">
          <img class="w-100" src="https://r.mobirisesite.com/372852/assets/images/photo-1521667378177-4052008e37de.jpeg" alt="Mobirise Website Builder">
        </div>
      </div>
      <div class="row row-reverse justify-content-center">
        <div class="col-12 col-md-12 col-lg">
          <div class="text-wrapper align-left">
            <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
              <strong>Total Care</strong>
            </h1>
            <p class="mbr-text align-left mbr-fonts-style mb-4 display-7">Roof Medics offers total care for your roof, providing unmatched service to keep you covered. Trust us for top cover and total peace of mind!</p>
            <div class="mbr-section-btn align-left mt-3">
              <a class="btn btn-primary display-7" href="https://mobiri.se">Get Peak Protection</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6 image-wrapper">
          <img class="w-100" src="https://r.mobirisesite.com/372852/assets/images/photo-1632759145351-1d592919f522.jpeg" alt="Mobirise Website Builder">
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg">
          <div class="text-wrapper align-left">
            <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
              <strong>Guardians of Garrison</strong>
            </h1>
            <p class="mbr-text align-left mbr-fonts-style mb-4 display-7">As the guardians of your garrison, Roof Medics ensure every shingle thing is perfect! Experience excellence in roofing with us today!</p>
            <div class="mbr-section-btn align-left mt-3"><a class="btn btn-primary display-7" href="https://mobiri.se">Get Peak Protection</a></div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6 image-wrapper">
          <img class="w-100" src="https://r.mobirisesite.com/372852/assets/images/photo-1560950834-83fb29249ddc.jpeg" alt="Mobirise Website Builder">
        </div>
      </div>
    </div>
  </section>
  