.testimonials {
  padding: 60px 0;
  background: #f8f9fa;
}

.itemWrapper {
  text-align: left;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
}

.itemContent {
  margin-bottom: 1rem;
}

.itemFooter {
  text-align: left;
}

.item-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.item-subtitle {
  font-size: 1rem;
  color: #777;
}
